<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlink}}
</head>

<body>
    {{>navbar}}
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/photo.jpg" alt="photo" class="img-fluid">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to weather app about us </p>
                        <h1>I am a<span>MERN Stack developer</span>and freelancer</h1>
                        {{!-- <a href="/weather"><button>About me</button></a> --}}
                        <p>Myself Vaishnavi Loya interested in web development.</p>
                        <p>Reliable student seeking opportunities to expand skills and get hands on real world experince
                            that will challenge me to push my boundaries.</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>